In [1]:
#Add Matplotlib inline magic command
%matplotlib inline
#Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
#Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)

In [4]:
#Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)

In [5]:
#Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [6]:
#get the number of data points from the Urban cities.
sum(city_data_df["type"]== "Urban")

66

In [7]:
#get the number of data points from the subUrban cities.
sum(city_data_df["type"]== "Suburban")

36

In [8]:
#get the number of data points from the rural cities.
sum(city_data_df["type"]== "Rural")

18

In [9]:
#get the types of each column
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id    float64
dtype: object

# Here we begin the merge to create pyber Data Frame

In [10]:
#Combine the data into a single data set using left join.
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city","city"])
#display the DataFrame
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,4/29/2019 17:04,13.38,8.550370e+12,6,Rural
2371,Lake Latoyabury,1/30/2019 0:05,20.76,9.018730e+12,2,Rural
2372,North Jaime,2/10/2019 21:03,11.11,2.781340e+12,1,Rural
2373,West Heather,5/7/2019 19:22,44.94,4.256850e+12,4,Rural
2374,Newtonview,4/25/2019 10:20,55.84,9.990580e+12,1,Rural

# Here we start the real analysis with new DataFrames

In [11]:
#create the urban, suburban and rural DataFrames.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [12]:
urban_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_total_fare

city
Amandaburgh            443.55
Barajasview            557.31
Carriemouth            764.49
Christopherfurt        661.55
Deanville              491.01
                        ...
West Patrickchester    451.73
West Robert            778.84
West Samuelburgh       544.19
Williamsstad           560.33
Williamsview           531.98
Name: fare, Length: 66, dtype: float64

In [13]:
suburban_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"]

# This is the statistics section

In [14]:
#get summary statistics
urban_cities_df.describe()

              fare       ride_id  driver_count
count  1625.000000  1.625000e+03   1625.000000
mean     24.525772  4.873485e+12     36.678154
std      11.738649  2.907440e+12     20.075545
min       4.050000  1.458810e+10      3.000000
25%      14.550000  2.400240e+12     22.000000
50%      24.640000  4.711190e+12     37.000000
75%      34.580000  7.451580e+12     52.000000
max      44.970000  9.991540e+12     73.000000

In [15]:
#get summary statistics
suburban_cities_df.describe()

             fare       ride_id  driver_count
count  625.000000  6.250000e+02    625.000000
mean    30.970128  4.971015e+12     13.712000
std     10.677508  2.912410e+12      8.042372
min     12.050000  3.218337e+08      1.000000
25%     21.970000  2.364250e+12      5.000000
50%     30.750000  5.053220e+12     16.000000
75%     39.830000  7.551670e+12     21.000000
max     49.960000  9.917740e+12     25.000000

In [16]:
#get summary statistics
rural_cities_df.describe()

             fare       ride_id  driver_count
count  125.000000  1.250000e+02    125.000000
mean    34.623440  4.647746e+12      4.296000
std     14.558046  2.887834e+12      2.691156
min     10.110000  2.684873e+10      1.000000
25%     19.900000  2.275360e+12      1.000000
50%     37.050000  4.023960e+12      4.000000
75%     47.070000  7.118050e+12      7.000000
max     58.550000  9.990580e+12      9.000000

In [ ]:
#calculate the mean of the ride count for each city type.
round(urban_ride_count.mean(),2), round(suburban_ride_count.mean(),2), round(rural_ride_count.mean(),2)

In [ ]:
#calculate the median of the ride count for each city type.
round(urban_ride_count.median(),2), round(suburban_ride_count.median(),2), round(rural_ride_count.median(),2)

In [ ]:
#calculate the mode of the ride count for each city type.
round(urban_ride_count.mode()), round(suburban_ride_count.mode()), round(rural_ride_count.mode())

In [ ]:
suburban_ride_count.mode()

In [ ]:
rural_ride_count.mode()

In [ ]:
import numpy as np
import scipy.stats as sts

In [ ]:
#calculate the measures of central tendency for the ride count for the urban cities using the NumPy and statistics modules
#and print them out using the f-string function
mean_urban_ride_count = np.mean(urban_ride_count)
print(f"The mean for the ride counts for the urban trips is {mean_urban_ride_count:.2f}.")

median_urban_ride_count = np.median(urban_ride_count)
print(f"The median for the ride counts for the urban trips is {median_urban_ride_count}.")

mode_urban_ride_count = sts.mode(urban_ride_count)
print(f"The mode for the ride counts for the urban trips is {mode_urban_ride_count}.")

In [ ]:
#calculate the measures of central tendency for the ride count for the suburban cities
#and print them out using the f-string function
mean_suburban_ride_count = np.mean(suburban_ride_count)
print(f"The mean for the ride counts for the suburban trips is {mean_suburban_ride_count:.2f}.")

median_suburban_ride_count = np.median(suburban_ride_count)
print(f"The median for the ride counts for the suburban trips is {median_suburban_ride_count}.")

mode_suburban_ride_count = sts.mode(suburban_ride_count)
print(f"The mode for the ride counts for the suburban trips is {mode_suburban_ride_count}.")

In [ ]:
#calculate the measures of central tendency for the ride count for the rural cities
#and print them out using the f-string function
mean_rural_ride_count = np.mean(rural_ride_count)
print(f"The mean for the ride counts for the rural trips is {mean_rural_ride_count:.2f}.")

median_rural_ride_count = np.median(rural_ride_count)
print(f"The median for the ride counts for the rural trips is {median_rural_ride_count}.")

mode_rural_ride_count = sts.mode(rural_ride_count)
print(f"The mode for the ride counts for the rural trips is {mode_rural_ride_count}.")

# Summary Statistics for Fare by City Type

In [ ]:
# Get the fares for the urban cities.
urban_fares = urban_cities_df["fare"]

In [ ]:
#Get the fares for suburban cities
suburban_fares = suburban_cities_df["fare"]

In [ ]:
#Get the fares for rural cities--this is a series we created
rural_fares = rural_cities_df["fare"]

In [ ]:
#calculate the mean of the fare for each city type.
round(urban_fares.mean(),2), round(urban_fares.mean(),2), round(rural_fares.mean(),2)

In [ ]:
# Calculate the measures of central tendency for the average fare for the urban cities.
mean_urban_fares = np.mean(urban_fares)
print(f"The mean fare price for urban trips is ${mean_urban_fares:.2f}.")

median_urban_fares = np.median(urban_fares)
print(f"The median fare price for urban trips is ${median_urban_fares:.2f}.")

mode_urban_fares = sts.mode(urban_fares)
print(f"The mode fare price for urban trips is {mode_urban_fares}.")

In [ ]:
# Get the driver count data for the urban cities
urban_drivers = urban_cities_df["driver_count"]
len(urban_drivers)

In [ ]:
# Get the driver count data for the urban cities
suburban_drivers = suburban_cities_df["driver_count"]
len(suburban_drivers)

In [ ]:
# Get the driver count data for the rural cities
rural_drivers = rural_cities_df["driver_count"]
len(rural_drivers)

In [ ]:
# Calculate the measures of central tendency for the number of drivers for the urban cities.
mean_urban_drivers = np.mean(urban_drivers)
print(f"The mean number of drivers for urban cities is {mean_urban_drivers:.2f}.")

median_urban_drivers = np.median(urban_drivers)
print(f"The median number of drivers for urban cities is {median_urban_drivers:.2f}.")

mode_urban_drivers = sts.mode(urban_drivers)
print(f"The mode for drivers for urban cities is {mode_urban_drivers}.")

In [ ]:
# Calculate the measures of central tendency for the number of drivers for the suburban cities.
mean_suburban_drivers = np.mean(suburban_drivers)
print(f"The mean number of drivers for suburban cities is {mean_suburban_drivers:.2f}.")

median_suburban_drivers = np.median(suburban_drivers)
print(f"The median number of drivers for suburban cities is {median_suburban_drivers:.2f}.")

mode_suburban_drivers = sts.mode(suburban_drivers)
print(f"The mode for drivers for suburban cities is {mode_suburban_drivers}.")

## Here are the calculations for the summary data frame

In [ ]:
# Get the sum of the fares for each city type--this is correct.
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

In [ ]:
# Get the sum for all of the fares--this is correct.
total_fares = pyber_data_df["fare"].sum()
total_fares

In [ ]:
#Calculate the percentage of fare for each city type.
#type_percents = 100*sum_fares_by_type/ total_fares
#type_percents

In [ ]:
# More advanced coding method combining the two variables into one line of code
#type_percents = 100*pyber_data_df.groupby(["type"]).sum()["fare"] /pyber_data_df["fare"].sum()
#type_percents

## Keep this section

In [ ]:
#grouping by total number of rides--this is correct
total_rides_per_city_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides_per_city_type

In [ ]:
pyber_data_df["ride_id"].count()

In [ ]:
#grouping by total drivers
#pyber_data_df.groupby(["type"]).count()["driver_count"]

In [ ]:
#Recreate the city type data frames
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [ ]:
rural_total_rides = rural_cities_df["ride_id"].count()
suburban_total_rides = suburban_cities_df["ride_id"].count()
urban_total_rides = urban_cities_df["ride_id"].count()

In [ ]:
#create a per city type series
#per_city_types = city_data_df.set_index(["city"])["type"]
#per_city_types.tail(10)

## Here is my solution to getting the total drivers column for the dataframe

In [ ]:
#total_rural_drivers = rural_cities_df.groupby(["city"])["driver_count"].max()

In [ ]:
total_urban_drivers = sum(urban_cities_df.groupby(["city"])["driver_count"].max())

In [ ]:
total_urban_drivers

In [ ]:
total_suburban_drivers = sum(suburban_cities_df.groupby(["city"])["driver_count"].max())

In [ ]:
total_suburban_drivers

In [ ]:
total_rural_drivers = sum(rural_cities_df.groupby(["city"])["driver_count"].max())

In [ ]:
total_rural_drivers

In [ ]:
# Get the sum for all of the fares--this is correct.
total_fares = pyber_data_df["fare"].sum()
total_fares

In [ ]:
# Get the sum for urban fares.
total_urban_fares = urban_cities_df["fare"].sum()
total_urban_fares

In [ ]:
# Get the sum for rural fares.
total_rural_fares = rural_cities_df["fare"].sum()
total_rural_fares

In [ ]:
# Get the sum for rural fares.
total_suburban_fares = suburban_cities_df["fare"].sum()
total_suburban_fares

In [ ]:
# Get the mean for suburban fares.
mean_suburban_fares = suburban_cities_df["fare"].mean()
mean_suburban_fares

In [ ]:
# Get the mean for urban fares.
mean_urban_fares = urban_cities_df["fare"].mean()
mean_urban_fares

In [ ]:
# Get the sum for rural fares.
mean_rural_fares = rural_cities_df["fare"].mean()
mean_rural_fares

In [ ]:
#get the average fare per driver rural
avg_fare_driver_rural = total_rural_fares /total_rural_drivers
avg_fare_driver_rural

In [ ]:
#get the average fare per driver suburban
avg_fare_driver_suburban = total_suburban_fares /total_suburban_drivers
avg_fare_driver_suburban

In [ ]:
#get the average fare per driver urban
avg_fare_driver_urban = total_urban_fares /total_urban_drivers
avg_fare_driver_urban

In [ ]:
#total_drivers_sum = sum(pyber_data_df.groupby(["type","city"])["driver_count"].max())

In [ ]:
pyber_table_index = ["Rural", "Suburban","Urban"]

In [ ]:
pyber_table_index_r =["Rural"]

In [ ]:
pyber_table_index_u =["Urban"]

In [ ]:
pyber_table_index_s =["Suburban"]

In [ ]:
rural_df = pd.DataFrame({
    "City Type": pyber_table_index_r,
    "Total Rides": rural_total_rides,
    "Total Drivers":total_rural_drivers,
    "Total Fares": total_rural_fares,
    "Average Fare per Ride":mean_rural_fares,
    "Average Fare per Driver":avg_fare_driver_rural
    
})

In [ ]:
rural_df

In [ ]:
urban_df = pd.DataFrame({
    "City Type": pyber_table_index_u,
    "Total Rides": urban_total_rides,
    "Total Drivers":total_urban_drivers,
    "Total Fares": total_urban_fares,
    "Average Fare per Ride":mean_urban_fares,
    "Average Fare per Driver":avg_fare_driver_urban
    
})

In [ ]:
urban_df

In [ ]:
suburban_df = pd.DataFrame({
    "City Type": pyber_table_index_s,
    "Total Rides": suburban_total_rides,
    "Total Drivers":total_suburban_drivers,
    "Total Fares": total_suburban_fares,
    "Average Fare per Ride":mean_suburban_fares,
    "Average Fare per Driver":avg_fare_driver_suburban
    
})

In [ ]:
suburban_df

In [ ]:
append1_df = rural_df.append(suburban_df, ignore_index = True)

In [ ]:
append1_df

In [ ]:
pyBer_Summary_df = append1_df.append(urban_df, ignore_index = True)

In [ ]:
pyBer_Summary_df.set_index('City Type', inplace=True)
pyBer_Summary_df

In [ ]:
pyBer_Summary_df.info()

In [ ]:
#Format the values of the PyBer Data Frame
pyBer_Summary_df["Total Rides"]= pyBer_Summary_df["Total Rides"].map("{:,}".format)
pyBer_Summary_df["Total Drivers"]= pyBer_Summary_df["Total Drivers"].map("{:,}".format)
pyBer_Summary_df["Total Fares"]= pyBer_Summary_df["Total Fares"].map("${:,.2f}".format)
pyBer_Summary_df["Average Fare per Ride"] = pyBer_Summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyBer_Summary_df["Average Fare per Driver"] = pyBer_Summary_df["Average Fare per Driver"].map("${:,.2f}".format)

In [ ]:
pyBer_Summary_df

# This is Part 2 of the Challenge

In [ ]:
#Add Matplotlib inline magic command
%matplotlib inline
#Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"